/* Hago que todos mis textos tengan tamaño de 24 pixeles y 
fuente de Google Pattaya */
html, body {
    font-size:24px;
    font-family: 'Pattaya', sans-serif;
}

/* Uso la fuente Roboto de Google Fonts en todas las P */
p {
    font-family: 'Roboto', sans-serif;
}

h4 {
    color:chartreuse;
}

/* Es importante, separar por comas los selectores
   y colocar cada regla de forma completa */

/* 
    Si añado la propiedad !important digo que ese elemento
    tiene más peso (especificidad)
*/
#itinerary h2, #itinerary h3 {
    color: red;
}

h2 {
    color:red;
}

h1, h2, h3, h4, h5, h6 {
     text-transform: uppercase;
}