*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
     
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #323232;
    text-rendering: optimizeLegibility;
}

.profile {
    margin-top: 7px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 12px 12px 12px 12px;
    border-color: black;
    border-style: double;
    width: 100%;
    height: 130px;
  }

  
  h2 , p  {
    justify-content: flex-end;
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    }

  a {
      padding: 3.5px;
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 20px;
  }

  a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: purple;
    
  }

  .avatar{
      margin-left: 40px;
      border-radius: 50%;
      width: 115px;
      height: 115px;
  }

  
.experience{
    border-color: black;
    border-style: double;
}

.education{
    border-color: black;
    border-style: double;
}

.languages {
    border-color: black;
    border-style: double;
}

.certifications{
    border-color: black;
    border-style: double;
}